body{
    margin:auto;
    background-color: black
}

.logo{
    width: 400px;
    margin: auto
}

.menu{
    display: inline-block;
    width: 1000px;
    margin: auto
}

nav
{
    background-color: black;
	text-align : center;

}

nav ul
{
    list-style-type: none;
    width :800px;
    margin:auto
}

nav li
{
    display: inline-block;
    padding: 10px
    
}

.formu{
    margin:10px
}

.center-block{
    background-color: white;
    margin: 20px;
    margin-top: 20px;
    border-radius: 50px;
    height:  750px;
}

.info{
    display:inline-block;
    vertical-align: top;
    width: 300px;
    color:white;
}

.blocInfos{
    margin: auto;
    clear: right;
    height: 260px;
    background-color: black
}

.lesNews{
    float: right;
    margin-right: 100px
}

.article{
    margin-left: 100px
}