body{
    margin:auto;
    background-color: black;
    /*min-width:1500px*/
}

.logo{
    width: 300px;
    margin: auto;
    min-width: 300px
}

.menu{
    display: inline-block;
    width: 1000px;
    margin: auto;

}

nav
{
    background-color: black;
	text-align : center;


}

nav ul
{
    list-style-type: none;
    width :800px;
    margin: auto
}

nav li
{
    display: inline-block;
    padding: 10px
    
}

.formu{
    margin:10px
}

.corps{
    background-color: white;
    margin: 20px;
    margin-top: 20px;
    border-radius: 50px;
    padding-bottom: 100px;
    min-width: 1500px
}

.info{
    display:inline-block;
    vertical-align: top;
    width: 300px;
    color:white;
}

.blocInfos{
    width: 800px;
    margin: auto;
    clear: right;
    height: 260px;
    background-color: black;
    min-width: 600px
}

.lesNews{
    float: right;
    margin-right: 100px;
    height: 500px


}

.lesArticle{
    margin-left: 100px
}

.adresse{
    float: right;
}

.article{
    min-width: 500px
}

.news{
    min-width: 400px
}